* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
}

html {
	overflow: none;
}

.homepage {
	background-color: #FE6C79;
}

.about {
	background-color: #757196;
}

.contact {
	background-color: #54ACAE;
}

/*homepage*/
.intro {
	font-family: 'Lobster Two', cursive;
	font-size: 70px;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 30px;
}

.intro-letter {
	display: inline-block;
	padding: 0px;
	color: white;
}

.intro-letter-pink {
	color: #cc0066;
}

.intro-letter:hover {
	color: #cc0066;
}

.intro-text {
	text-align: center;
	font-family: 'Lobster Two', cursive;
	color:#333333;
	font-size: 20px;
    width: 50%;
    margin: auto;
    letter-spacing: 2px;
}

.icon-bar {
	padding-top: 80px;
	width: 430px;
	margin: auto;
}

.icon {
	display: inline-block;
	width: 40px;
	padding: 20px;
}

.heart {
	transform: translateY(-15px);
	animation: bounce 0.45s cubic-bezier(0.42, 0, 0.7, 0.5) infinite alternate;
}

/*.heart:hover {
	animation: rotate 0.4s;
}

@keyframes rotate {
	0% {transform: rotate(0deg);}
	50% {transform: rotate(180deg);}
	100% {transform: rotate(0deg);}
}*/

@keyframes bounce {
    from {transform: translateY(-28px);}
    to {transform: translateY(-15px);}
}

/*about*/
.about-me {
	position: absolute;
	top:40%;
	left:9%;
	font-family: 'Lobster Two', cursive;
	color: white;
	font-size: 60px;
	letter-spacing: 7px;
}

.about-wrapper {
	padding: 0px;
	position: relative;
	float: right;
	top: 100px;
	right: 55px;
	width: 861px;
	height: 501px;
	border-radius: 5px;
	overflow: hidden;
	background-color: #9F98B7;
}

.text-container {
	position: absolute;
	border-radius: 5px;
}

.full-text {
	background-color: #9F98B7;
	font-size: 19px;
	line-height: 32px;
	font-family: 'Playfair Display', serif;
	font-weight: 10px;
	color:#333333;
	position: absolute;
	float: right;
	width: 761px;
	height: 501px;
	padding-left: 50px;
	padding-top: 50px;
	padding-right: 200px;
}

.x-button {
	width:20px;
	top:20px;
	right:180px;
	position: absolute;
}

.x-button:hover {
	cursor: pointer;
}

.michpic {
	position: relative;
	height: 250px;
}

.info-box {
	font-size: 20px;
	letter-spacing: 7px;
	font-family: 'Lobster Two', cursive;
	color:#333333;
	margin: 0px;
	padding: 0px;
	width: 287px;
	display: inline-block;
	height: 250px;
	overflow: hidden;
}

.info {
	line-height: 250px;
	text-align: center;
}

.info:hover {
	cursor: pointer;
	color:white;
}

/*contact*/
.get-in-touch {
	font-family: 'Lobster Two', cursive;
	color: white;
	font-size: 60px;
    padding: 0;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 30px;
    letter-spacing: 7px;
}

.contact-text {
	text-align: center;
	font-family: 'Lobster Two', cursive;
	color:#333333;
	font-size: 20px;
    width: 50%;
    margin: auto;
    letter-spacing: 2px;
}

.icon-panel {
	width: 30%;
    margin: auto;
    padding-top: 40px;
}

.contact-icon {
	display: inline-block;
	padding: 50px;
}

.contact-img {
	width:100px;
	transition-duration: .2s;
}

.contact-img:hover {
	width:110px;
	transition-duration: .2s;
}

/*navbar*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 25px;
    bottom: 10px;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color:#333333;
}

li {
    float: right;
    display: block;
    text-decoration: none;
    font-family: 'Lobster Two', cursive;
    color: white;
    font-size: 20px;
    padding: 20px;
    letter-spacing: 7px;
}

li:hover {
	color:#333333;
	cursor: pointer;
}

/*carousel*/
.page-wrapper {
	height: 100vh;
	width: 100vw;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

.carousel-container {
	width: 100vw;
	margin: auto;
	height: 100vh;
	overflow: hidden;
	position: relative;
}

.carousel {
	width: 400vw;
	height: 100vh;
	margin-left: 0vw;
	-webkit-transition: 0.3s;
}

.carousel-item {
	width: 100vw;
	position: relative;
	height: 100vh;
	float: left;
	overflow: hidden;
}